<div class="container-fluid" style="padding-top:8%; ">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-header card-chart" data-background-color="red">
          <div class="ct-chart" id="completedTasksChart">
          
          </div>
        </div>
        <div class="card-content" style="text-align: center">
          <h4 class="title">Nouveau Compte</h4>
          <p class="category"></p>
          <a
            class="btn btn-black btn-round btn-xs"
            style="color:rgb(126, 79, 170); text-align: center"
            routerLink="create-student"
            >ajouter </a
          >
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="material-icons"></i>
        
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header card-chart" data-background-color="red">
          <div class="ct-chart" id="completedTasksChart">
           
          </div>
        </div>
        <div class="card-content" style="text-align: center">
          <h4 class="title">Modifier/Supprimer un compte</h4>
          <p class="category"></p>
          <a
            class="btn btn-black btn-round btn-xs"
            style="color: rgb(126, 79, 170); text-align: center"
            routerLink="update-students"
            >Modifier</a
          >
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="material-icons"></i>
          
          </div>
        </div>
      </div>
    </div>
    
  </div>

 
</div>
