<div class="container-fluid" style="padding-top:8%; " >
    <div class="row">
       <div class="col-md-12">
            <div class="card">
                <div class="card-header" data-background-color="reds">
                    <h4 class="title">Planning des examens</h4>
                </div>
                <div class="card-content table-responsive">
                    <table class="table">
                        <thead class="">
                            <tr>
                                <th>Examen</th>
                                <th>Date</th>
                                <th>Heure</th>
                                <th>Salle</th>
                                <th>Numéro de la table</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor='let e of exams'>
                                <td>{{e.exam}}</td>
                                <td>{{e.date}}</td>
                                <td>{{e.heure}}</td>
                                <td>{{e.salle}}</td>
                                <td>{{e.numeroTab}}</td>
                            </tr>
                            <tr>
                                <td>QLOG</td>
                                <td>05/06/2017</td>
                                <td>12:00</td>
                                <td>AP1</td>
                                <td>27</td>
                            </tr>
                            <tr>
                                <td>IPLS</td>
                                <td>06/06/2017</td>
                                <td>12:00</td>
                                <td>Salle 15</td>
                                <td>12</td>
                            </tr>
                            <tr>
                                <td>SGBS</td>
                                <td>07/06/2017</td>
                                <td>12:00</td>
                                <td>Salle de conférences</td>
                                <td>15</td>
                            </tr>
                            <tr>
                                <td>IHM</td>
                                <td>08/06/2017</td>
                                <td>12:00</td>
                                <td>A2</td>
                                <td>13</td>
                            </tr>
                            <tr>
                                <td>SIG</td>
                                <td>08/06/2017</td>
                                <td>12:00</td>
                                <td>A2</td>
                                <td>13</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
</div>
</div>

