<div class="container-fluid" style="padding-top:8%; ">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-header card-chart" data-background-color="red">
          <div class="ct-chart" id="completedTasksChart">
          
          </div>
        </div>
        <div class="card-content" style="text-align: center">
          <h4 class="title">Ton Dernier Relevé de notes</h4>
          <p class="category">Consulter ton dernier relevé de notes</p>
          <a
            class="btn btn-black btn-round btn-xs"
            style="color:rgb(126, 79, 170); text-align: center"
            routerLink="releve-notes"
            >Consulter</a
          >
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="material-icons"></i>
        
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header card-chart" data-background-color="red">
          <div class="ct-chart" id="completedTasksChart">
           
          </div>
        </div>
        <div class="card-content" style="text-align: center">
          <h4 class="title">Le planning des examens</h4>
          <p class="category">Consulter le planning des examens</p>
          <a
            class="btn btn-black btn-round btn-xs"
            style="color: rgb(126, 79, 170); text-align: center"
            routerLink="plan-exams"
            >Consulter</a
          >
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="material-icons"></i>
          
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header card-chart" data-background-color="red">
          <div class="ct-chart" id="completedTasksChart">
          </div>
        </div>
        <div class="card-content" style="text-align: center">
          <h4 class="title">Tes notes personnelles</h4>
          <p class="category">se rappeler de ses devoirs</p>
          <a
            class="btn btn-black btn-round btn-xs"
            style="color:rgb(126, 79, 170); text-align: center"
            routerLink="notes-perso"
            >Ajouter</a
          >
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="material-icons"></i> 
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header" data-background-color="reds">
          <h4 class="title">Emploi du temps</h4>
        </div>
        <div class="card-content">
          <form>
            <div class="form-group form-black label-floating is-empty">
              <div class="container-fluid">
                <form #f="ngForm">
                  <div class="form-group form-black label-floating is-empty">
                    <select
                      placeholder="Jour"
                      name="jours"
                     
                      (change)="selectJour($event)"
                    >
                      <option
                        *ngFor="let jour of jours; let i = index"
                        [value]="i"
                        >{{ jour }}</option
                      >
                    </select>
                  </div>
                </form>
                <div class="row">
                  <div class="col-md-12">
                    <div class="card-content table-responsive">
                      <table class="table" style="text-align: center">
                        <thead class="">
                          <tr
                            style="text-align: centre"
                            data-background-color="reds"
                          >
                            <th>08:30-09:30</th>
                            <th>09:35-10:35</th>
                            <th>10:40-11:40</th>
                            <th>13:00-14:00</th>
                            <th>14:05-15:05</th>
                            <th>15:10-16:10</th>
                            <th>16:15-17:15</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td *ngFor="let emp of emplois; let i = index">
                              <div class="card">
                                <div class="card-content">
                                  <div>
                                    <b>{{ emplois[i].module }}</b>
                                  </div>
                                  <div>{{ emplois[i].enseignant }}</div>
                                  <div>{{ emplois[i].salle }}</div>
                                </div>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
