<div class="container-fluid" style="padding-top:8%; ">
    <div class="row">
            <div class="col-md-4">
            <a class="btn btn-black btn-lg" style="color:rgb(106, 193, 196)"><i class="material-icons" aria-hidden="true">local_printshop</i>   Imprimer le Relevé</a>
            <br/><br/><br/>
        </div>
       <div class="col-md-12">
            <div class="card">
                <div class="card-header" data-background-color="reds">
                    <h4 class="title">Relevé de notes</h4>
                </div>
                <div class="card-content table-responsive">
                    <table class="table">
                        <thead class="">
                            <tr>
                                <th>Module</th>
                                <th>Enseignant</th>
                                <th>Controle Continu</th>
                                <th>Controle intermédiaire</th>
                                <th>Controle final</th>
                                <th>Moyenne</th>
                            </tr>
                        </thead>
                        <tbody>
                             <tr *ngFor='let e of evaluations'>
                                <td>{{e.module}}</td>
                                <td>{{e.enseignant}}</td>
                                <td>{{e.noteContC}}</td>
                                <td>{{e.noteContI}}</td>
                                <td>{{e.noteContFi}}</td>
                                <td>{{e.moy}}</td>
                            </tr>
                             <tr>
                                <td>ALOG</td>
                                <td>K.Chebieb</td>
                                <td>13</td>
                                <td>13</td>
                                <td>13</td>
                                <td>13</td>
                            
                        </tbody>
                         <a class="btn btn-black btn-round btn-lg" style="margin-left:250%" data-background-color="black" ng-disabled disabled>Moyenne : 13,00</a>
                    </table>
                </div>
            </div>
        </div>
</div>
</div>

